[submodule "libft"]
	path = libft
	url = https://github.com/moutonsanglant/libft
[submodule "libftprintf"]
	path = libftprintf
	url = https://github.com/moutonsanglant/libftprintf
[submodule "corewar"]
	path = corewar
	url = https://github.com/moutonsanglant/corewar
