### Vim Files ###
*.swp
*.netrwhist


### Valgrind Files ###
*.dSYM
vgcore.*


### OSX Files ###
*._*
.DS_Store


### Object files ###
*.o
*.gch


### Libraries ###
*.a
*.so
!/lib/*


### Rushes ###
/Rushes/hotrace/hotrace*
/Rushes/puissance4/puissance4*
/Rushes/wong_kar_wai/game_2048*


### Temporary files ###
_*


### Don't ignore ###
!/School/Config/.*
